a, header.main-header .bottom-header .search input, .sermon-bottom-area-inner span, .meet-member-details > h3 > a > span, .events-slider .append-arrow > span > i, .f-newsletter-sec > form > button, .btn-style-2, .conf-append > span, .chruch-minintry-slider.owl-theme .owl-controls .owl-buttons div, .filter-nav ul > li:before, .filter-nav ul > li, .grid-item-hover, .pagination-sec > ul >li, .btn-style-1, .pd-details-content > form > span.ui-spinner > a:before, .pd-tabs > ul > li > a:before, nav.main-nav ul li.menu-item-has-children > ul, .owl-buttons > div, .poptrox-popup .nav-previous, .poptrox-popup .nav-next {
    -webkit-transition: all .35s ease;
    -moz-transition: all .35s ease;
    -ms-transition: all .35s ease;
    -o-transition: all .35s ease;
    transition: all .35s ease;
}

audio, canvas, iframe, img, svg, video {
    vertical-align: middle;
}
